<form action="https://formspree.io/f/meqnagdo" method="POST" class="pr-5 mb-5" method="post" id="contactForm" name="contactForm">
  <div class="row">
     <div class="col-md-6 form-group">
        <input type="text" class="form-control" name="fname" id="fname" placeholder="First name">
     </div>
     <div class="col-md-6 form-group">
        <input type="text" class="form-control" name="lname" id="lname" placeholder="Last name">
     </div>
  </div>
  <div class="row">
     <div class="col-md-12 form-group">
        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
     </div>
  </div>
  <div class="row">
     <div class="col-md-12 form-group">
        <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
        <span class="submitting"></span>
     </div>
  </div>
</form>