footer {
  background: #1e6ba2;
}

.navbar-custom {
  background: #1e6ba2;
}

.navbar-custom .avatar-container .avatar-img,
.navbar-custom .avatar-container .avatar-img-border {
  border-radius: 90%;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-nav .nav-link:focus,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: #0085a1;
}

footer p.text-muted {
  color: #ffffff !important;
}

#beautifuljekyll-search-overlay {
  background: rgba(34, 37, 53, 0.9);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.form-control {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn,
.form-control {
  height: 55px;
}

label.error {
  font-size: 12px;
  color: red;
}

.intro-header .post-heading h1,
.intro-header .post-heading .post-subheading,
.intro-header.big-img .post-heading .post-meta {
  background-color: rgba(0, 0, 0, 0.5);
}
